* {
  box-sizing: border-box;
}

.wrapper h1 {
  text-align: center;
  margin: 1em 0;
}

.wrapper .comps {
  width: 50%;
  margin: 0 auto;
  background-color: #1976D2;
  padding: 1em;
}

.wrapper .comps .addComps {
  margin: 0 0 2em 0;
}

.wrapper .comps .addComps input#add {
  padding: 10px;
  width: 70%;
  border: none;
  height: 50px;
  border-radius: 5px 0 0 5px;
}

.wrapper .comps .addComps button#create {
  width: 30%;
  padding: 10px;
  border: none;
  height: 50px;
  border-radius: 0 5px 5px 0;
}

ul {
  padding: 0;
}

ul .todo_item {
  width: 100%;
  list-style: none;
  background: #2196F3;
  margin: 1em 0;
  padding: 2em 1em;
}

ul .todo_item #text {
  display: inline-block;
  width: 80%;
  padding: 1em 0 1em 1em;
}

ul .todo_item #complete {
  display: inline-block;
  width: 20%;
  padding: 1em 0;
  background-color: grey;
  text-align: center;
}
